<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<link rel="stylesheet" href="static/front/500/css/main.css" type="text/css" media="screen, projection" /> <!-- main stylesheet -->
<link rel="stylesheet" type="text/css" media="all" href="static/front/500/css/tipsy.css" /> <!-- Tipsy implementation -->

<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie8.css" />
<![endif]-->

<script type="text/javascript" src="static/front/500/scripts/jquery-1.7.2.min.js"></script> <!-- uiToTop implementation -->
<script type="text/javascript" src="static/front/500/scripts/custom-scripts.js"></script>
<script type="text/javascript" src="static/front/500/scripts/jquery.tipsy.js"></script> <!-- Tipsy -->

<script type="text/javascript">

$(document).ready(function(){
			
	universalPreloader();
						   
});

$(window).load(function(){

	//remove Universal Preloader
	universalPreloaderRemove();
	
	rotate();
    dogRun();
	dogTalk();
	
	//Tipsy implementation
	$('.with-tooltip').tipsy({gravity: $.fn.tipsy.autoNS});
						   
});

</script>


<title>500</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<!-- Universal preloader -->
<div id="universal-preloader">
    <div class="preloader">
        <img src="static/front/500/images/universal-preloader.gif" alt="universal-preloader" class="universal-preloader-preloader" />
    </div>
</div>
<!-- Universal preloader -->

<div id="wrapper">
<!-- 404 graphic -->
	<!-- <div class="graphic"></div> -->

<!-- 404 graphic -->
<!-- Not found text -->
	<div class="not-found-text">
    	<h1 class="not-found-text">网络好像有问题？</h1>
    </div>
<!-- Not found text -->

<!-- search form -->
<!-- <div class="search">
	<form name="search" method="get" action="#" />
        <input type="text" name="search" value="Search ..." />
        <input class="with-tooltip" title="Search!" type="submit" name="submit" value="" />
    </form>
</div> -->
<!-- search form -->

<!-- top menu -->
<!-- <div class="top-menu">
	<a href="#" class="with-tooltip" title="Return to the home page">Home</a> | <a href="#" class="with-tooltip" title="Navigate through our sitemap">Sitemap</a> | <a href="#" class="with-tooltip" title="Contact us!">Contact</a> | <a href="http://www.cssmoban.com" class="with-tooltip" title="模板之家">模板之家</a>
</div> -->
<!-- top menu -->

<div class="dog-wrapper">
<!-- dog running -->
	<div class="dog"></div>
<!-- dog running -->
	
<!-- dog bubble talking -->
	<div class="dog-bubble">
    	
    </div>
    
    <!-- The dog bubble rotates these -->
    <div class="bubble-options">
    	<p class="dog-bubble">
        	不要害怕，让我带你去找网页
        </p>
    	<p class="dog-bubble">
	        <br />
        	汪汪汪
        </p>
        <p class="dog-bubble">
        	<br />
        	不要急，我正在路上
        </p>
        <p class="dog-bubble">
        	我想来块饼干<br /><img style="margin-top:8px" src="static/front/500/images/cookie.png" alt="cookie" />
        </p>
        <p class="dog-bubble">
        	<br />
        	太好吃了，不错!
        </p>
        <p class="dog-bubble">
        	<br />
        	我是不是快找到了?
        </p>
        <p class="dog-bubble">
        	或者我只是在转圈，呃。。。
        </p>
        <p class="dog-bubble">
        	<br />
            好吧，我好像走丢了，网页找不回来
        </p>
        <p class="dog-bubble">
        	我想我看到了一只 <br /><img style="margin-top:8px" src="static/front/500/images/cat.png" alt="cat" />
        </p>
        <p class="dog-bubble">
        	说到底我们在寻找什么呢？
        </p>
    </div>
    <!-- The dog bubble rotates these -->
<!-- dog bubble talking -->
</div>

<!-- planet at the bottom -->
	<div class="planet"></div>
<!-- planet at the bottom -->
</div>


</body>
</html>